/* [project]/CinemaBooker/cinema-booker/src/app/components/addressinfoforum.module.css [app-client] (css) */
.addressinfoforum-module__UwoKcW__mainDiv {
  background-color: #3b3b3b;
  border-radius: 40px;
  margin: 25px 100px;
}

.addressinfoforum-module__UwoKcW__editProfileHeading {
  text-align: center;
  -webkit-text-stroke: 2px black;
  color: #fff;
  font-size: 72px;
}

.addressinfoforum-module__UwoKcW__hr {
  border-width: 2px;
  border-color: #636363;
  border-radius: 10px;
  margin: 12px 150px 15px;
}

.addressinfoforum-module__UwoKcW__forumContainer {
  flex-direction: column;
  display: flex;
}

.addressinfoforum-module__UwoKcW__email {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.addressinfoforum-module__UwoKcW__label {
  color: #fff;
  margin-left: 8px;
  font-size: 32px;
}

.addressinfoforum-module__UwoKcW__inputField {
  background-color: #838383;
  border-radius: 6px;
  margin: 4px 80% 24px 12px;
  padding: 0 4px;
  font-size: 20px;
}

.addressinfoforum-module__UwoKcW__subLabel {
  color: #fff;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 24px;
}

.addressinfoforum-module__UwoKcW__subInputField {
  background-color: #838383;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 12px;
  padding: 0 4px;
}

.addressinfoforum-module__UwoKcW__addressInputField {
  background-color: #838383;
  border-radius: 4px;
  width: 44.75%;
  margin-bottom: 4px;
  margin-left: 12px;
  padding: 0 4px;
}

.addressinfoforum-module__UwoKcW__addressSubField {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 90px;
  display: flex;
}

.addressinfoforum-module__UwoKcW__billingAddressContainer {
  background-color: #5e5e5e;
  border-radius: 12px;
  width: 65%;
  margin-left: 8px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.addressinfoforum-module__UwoKcW__checkbox {
  width: 20px;
  height: 20px;
}

.addressinfoforum-module__UwoKcW__promoContainer {
  justify-content: left;
  align-items: center;
  gap: 12px;
  display: flex;
}

.addressinfoforum-module__UwoKcW__addCardButton {
  color: #fff;
  background-color: #4fb0ff;
  border-width: 2px;
  border-color: #fff;
  border-radius: 12px;
  width: 150px;
  height: 75px;
  margin-bottom: 16px;
  margin-left: 8px;
  font-size: 24px;
  transition: all .1s;
}

.addressinfoforum-module__UwoKcW__addCardButton:hover {
  background-color: #7fc5fd;
  transform: scale(1.05);
}

.addressinfoforum-module__UwoKcW__addCardButtonDisabled {
  color: #fff;
  background-color: rgba(136, 136, 136, .4);
  border-width: 2px;
  border-color: #aaa;
  border-radius: 12px;
  width: 150px;
  height: 75px;
  margin-left: 8px;
  font-size: 24px;
  transition: all .1s;
}

.addressinfoforum-module__UwoKcW__noticeLabel {
  color: #fff;
  border-width: 1px;
  border-color: #ff0;
  border-radius: 12px;
  width: 500px;
  margin: 10px 0 10px 8px;
  padding: 4px 10px;
  font-size: 24px;
}

.addressinfoforum-module__UwoKcW__noteLabel {
  color: #fff;
  margin-bottom: 4px;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 20px;
}

/*# sourceMappingURL=e08f1_cinema-booker_src_app_components_addressinfoforum_module_css_bad6b30c._.single.css.map*/