/* [project]/CinemaBooker/cinema-booker/src/app/user/[id]/profile/edit/styles.module.css [app-client] (css) */
.styles-module__ZOeZIG__mainDiv {
  background-color: #3b3b3b;
  border-radius: 40px;
  margin: 25px 100px;
}

.styles-module__ZOeZIG__editProfileHeading {
  text-align: center;
  -webkit-text-stroke: 2px black;
  color: #fff;
  font-size: 72px;
}

.styles-module__ZOeZIG__hr {
  border-width: 2px;
  border-color: #636363;
  border-radius: 10px;
  margin: 12px 150px 15px;
}

.styles-module__ZOeZIG__forumContainer {
  flex-direction: column;
  display: flex;
}

.styles-module__ZOeZIG__email {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.styles-module__ZOeZIG__label {
  color: #fff;
  margin-left: 8px;
  font-size: 32px;
}

.styles-module__ZOeZIG__inputField {
  background-color: #838383;
  border-radius: 6px;
  margin: 4px 80% 24px 12px;
  padding: 0 4px;
  font-size: 20px;
}

.styles-module__ZOeZIG__subLabel {
  color: #fff;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 24px;
}

.styles-module__ZOeZIG__subInputField {
  background-color: #838383;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 12px;
  padding: 0 4px;
}

.styles-module__ZOeZIG__addressInputField {
  background-color: #838383;
  border-radius: 4px;
  width: 44.75%;
  margin-bottom: 4px;
  margin-left: 12px;
  padding: 0 4px;
}

.styles-module__ZOeZIG__addressSubField {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 90px;
  display: flex;
}

.styles-module__ZOeZIG__billingAddressContainer {
  padding-bottom: 24px;
}

.styles-module__ZOeZIG__checkbox {
  width: 20px;
  height: 20px;
}

.styles-module__ZOeZIG__promoContainer {
  justify-content: left;
  align-items: center;
  gap: 12px;
  display: flex;
}

.styles-module__ZOeZIG__addCardButton {
  color: #fff;
  background-color: #4fb0ff;
  border-width: 2px;
  border-color: #fff;
  border-radius: 12px;
  width: 150px;
  height: 75px;
  margin-bottom: 16px;
  margin-left: 8px;
  font-size: 24px;
  transition: all .1s;
}

.styles-module__ZOeZIG__addCardButton:hover {
  background-color: #7fc5fd;
  transform: scale(1.05);
}

.styles-module__ZOeZIG__addCardButtonDisabled {
  color: #fff;
  background-color: rgba(136, 136, 136, .4);
  border-width: 2px;
  border-color: #aaa;
  border-radius: 12px;
  width: 150px;
  height: 75px;
  margin-left: 8px;
  font-size: 24px;
  transition: all .1s;
}

.styles-module__ZOeZIG__noticeLabel {
  color: #fff;
  border-width: 1px;
  border-color: #ff0;
  border-radius: 12px;
  width: 500px;
  margin: 10px 0 10px 8px;
  padding: 4px 10px;
  font-size: 24px;
}

.styles-module__ZOeZIG__noteLabel {
  color: #fff;
  margin-bottom: 4px;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 20px;
}

.styles-module__ZOeZIG__addAddressButton {
  color: #fff;
  background-color: #4fb0ff;
  border-width: 2px;
  border-color: #fff;
  border-radius: 12px;
  width: 150px;
  height: 75px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  font-size: 24px;
  transition: all .1s;
}

.styles-module__ZOeZIG__addAddressButton:hover {
  background-color: #7fc5fd;
  transform: scale(1.05);
}

.styles-module__ZOeZIG__deleteAddressButton {
  color: #fff;
  background-color: #c62828;
  border-width: 2px;
  border-color: #fff;
  border-radius: 12px;
  width: 150px;
  height: 75px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  font-size: 24px;
  transition: all .1s;
}

.styles-module__ZOeZIG__deleteAddressButton:hover {
  background-color: #ff3636;
  transform: scale(1.05);
}

/*# sourceMappingURL=e08f1_cinema-booker_src_app_user_%5Bid%5D_profile_edit_styles_module_css_bad6b30c._.single.css.map*/