.mainDiv {
    border-radius: 8px;
    padding: 4px;
    padding-bottom: 10px;
    margin: 10px 8px;
    background-color: rgb(94, 94, 94);
    width: 450px;
    transition: 0.1s;
}

.label {
    font-size: 24px;
    margin-left: 8px;
}

.inputField {
    background-color: rgb(136, 136, 136);
    border-radius: 8px;
    margin: 4px;
    padding-left: 4px;
    font-size: 20px;
    margin-right: 8px;
}

.deleteButton {
    font-size: 20px;
    background-color: #c62828;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.deleteButton:hover {
    background-color: #ff3636;
    transform: scale(1.1);
}

.deleteButtonDisabled {
    font-size: 20px;
    background-color: #868686;
    border-color: #444444;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 16px;
    margin-top: 10px;
    transition: 0.2s;
}